<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
		"message":"By using this website, you accept our use of cookies.",
		"dismiss":"I understand!",
		"learnMore":"Read our privacy statement.",
		"link":"http://www.cogsci.nl/privacy.txt","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
<!-- End Cookie Consent plugin -->
