	<li class="level-1"><a href="https://datamatrix.cogsci.nl/0.9/install">Install</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Tutorials&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/basic">Basic use</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/plotting">Plotting</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/statistics">Statistics</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/series-tutorial">Working with series</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/memoization">Memoization (caching)</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/eyelinkparser">Analyzing eye-movement data</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Modules&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/convert">datamatrix.convert</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/functional">datamatrix.functional</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/io">datamatrix.io</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/operations">datamatrix.operations</a></li>
		<li class="level-2"><a href="https://datamatrix.cogsci.nl/0.9/series">datamatrix.series</a></li>
</ul></li></ul></li>
	<li class="level-1"><a href="http://python.cogsci.nl">Learn Python</a></li>
	<li class="level-1"><a href="http://forum.cogsci.nl/categories/datamatrix">Forum</a></li>
	<li class="level-1"><a href="http://www.cogsci.nl/">Blog</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">v0.9&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.9/">v0.9</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.8/">v0.8</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.7/">v0.7</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.6/">v0.6</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.5/">v0.5</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.4/">v0.4</a></li>
		<li class="level-2"><a href="http://datamatrix.cogsci.nl/0.3/">v0.3</a></li>
</ul></li></ul></li>