	<li class="level-1"><a href="https://pydatamatrix.eu/1.0/install">Install</a></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Tutorials&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/basic">Basic use</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/plotting">Plotting</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/statistics">Statistics</a></li>
		<li class="level-2"><a href="https://pythontutorials.eu/numerical/time-series">Working with series</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/memoization">Memoization (caching)</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/largedata">Working with large data (dynamic loading)</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/eyelinkparser">Analyzing eye-movement data</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">Modules&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/convert">datamatrix.convert</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/functional">datamatrix.functional</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/io">datamatrix.io</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/operations">datamatrix.operations</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/series">datamatrix.series</a></li>
		<li class="level-2"><a href="https://pydatamatrix.eu/1.0/multidimensional">datamatrix.multidimensional</a></li>
</ul></li></ul></li>
<li class="dropdown mega-dropdown"><a href="#" class="dropdown-toggle level-2" data-toggle="dropdown">v1.0&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a>
<ul class="dropdown-menu mega-dropdown-menu row"><li class="col-sm-3"><ul>
		<li class="level-2"><a href="http://pydatamatrix.eu/1.0/">v1.0</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.15/">v0.15</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.14/">v0.14</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.13/">v0.13</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.12/">v0.12</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.11/">v0.11</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.10/">v0.10</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.9/">v0.9</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.8/">v0.8</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.7/">v0.7</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.6/">v0.6</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.5/">v0.5</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.4/">v0.4</a></li>
		<li class="level-2"><a href="http://pydatamatrix.eu/0.3/">v0.3</a></li>
</ul></li></ul></li>