<form action="http://search.cogsci.nl" id="cse-search-box" target="_blank">

<div class="row">
  <div class="col-lg-6">
    <div class="cogsci-search input-group">
      <input type="text" name="q" class="form-control" placeholder="Search for &#8230;">
	  <input type="hidden" name="cx" value="partner-pub-9276598827173431:7001979481" />
	  <input type="hidden" name="cof" value="FORID:10" />
	  <input type="hidden" name="ie" value="UTF-8" />	  
      <span class="input-group-btn">
        <button class="btn btn-default" name="sa" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

</form>
