<span class="cogsci-sidebar-header">PythonLiveLessons</span>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLR-r0edywujdxFSPtTILD8HPbEzt6MJy-" allowfullscreen></iframe>
</div>

<span class="cogsci-sidebar-header">Python videos</span>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLR-r0edywujd8D-R2Kue1C_wYEK_4Ii71" allowfullscreen></iframe>
</div>
